<%= form_with(model: transaction) do |f| %>
  <div>
    <%= f.select :allocation, Account::ALLOCATIONS, { include_blank: true }, { class: 'custom-select custom-select-sm' } %>
  </div>
  <div class="custom-control custom-checkbox">
    <% input_id = "payment-or-transfer-#{transaction.id}" %>
    <%= f.check_box :payment_or_transfer, { class: 'custom-control-input', id: input_id }, 'true', 'false' %>
    <label class="custom-control-label" for="<%= input_id -%>">
      <small>Payment or transfer?</small>
    </label>
  </div>
  <div class="d-none">
    <button type="submit" class="btn btn-sm btn-secondary btn-block">
      <i class="far fa-save"></i>
    </button>
  </div>
<% end %>
